/* global variables */
:root {
	--primary-red: hsl(0, 100%, 74%);
	--primary-green: hsl(154, 59%, 51%);
	--accent-blue: hsl(248, 32%, 49%);
	--neutral-dark-blue: hsla(249, 10%, 26%, 1);
	--neutral-greyish-blue: hsla(246, 25%, 77%);
}

/* reset styles */ /* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
	list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
	max-width: 100%;
	display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
	margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* visually hidden */
.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* general styles  */
body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	background-image: url(./images/bg-pattern-mobile.svg);
}

.flow > * + * {
	margin-top: 1em;
}

.semi-bold {
	font-size: 500;
}

/* container styles */
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 4.25rem 1.5rem;
	background: url(./images/bg-intro-mobile.png), var(--primary-red);
}

/* header styles */
header {
	font-weight: 500;
	color: white;
	text-align: center;
	line-height: 1.625;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 4rem;
}

h1 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.25;
}

header p {
	margin-top: 1rem;
}

/* form container styles */
.form-container {
	/* flex-grow: 1; */
	text-align: center;
}

.form-container h2 {
	color: white;
	background-color: var(--accent-blue);
	padding: 1rem 4rem;
	border-radius: 10px;
}

form {
	background-color: white;
	padding: 1.5rem;
	margin-top: 1rem;
	border-radius: 10px;
	box-shadow: 0px 10px 5px 0px hsl(0, 44%, 48%);
}
.form-field {
	padding-bottom: 1.25rem;
	position: relative;
	color: var(--accent-blue);
}
input {
	display: block;
	position: relative;
	width: 100%;
	padding: 1rem;
	border-radius: 8px;
	border-width: 0.2px;
	border-color: hsl(240, 7%, 92%);

	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

::placeholder {
	color: var(--neutral-dark-blue);
}

.cta {
	width: 100%;
	padding: 1rem;

	background-color: hsl(154, 59%, 51%);
	color: white;
	border-radius: 5px;
	font-family: "Poppins", sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
}

button:hover {
	cursor: pointer;
}

h3.terms {
	font-size: 0.7rem;
	color: hsl(246, 25%, 77%);
	margin-top: 1rem;
	padding: 0 1rem;
	font-size: 0.7;
	line-height: 1.9;
}

.red {
	color: hsl(0, 100%, 74%);
	font-weight: 700;
}
.form-field.error input {
	border-color: hsl(0, 100%, 74%);
}

.form-field.error::after {
	content: url(./images/icon-error.svg);
	position: absolute;
	top: 1.2rem;
	right: 0.75rem;
}
.form-field small {
	float: right;
	color: hsl(0, 100%, 74%);
	font-size: 0.7rem;
	font-style: italic;
	display: relative;
	bottom: 0;
	right: 0;
	display: none;
}

.form-field.error small {
	display: block;
	margin-bottom: 1rem;
}

/* attribution styles */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* desktop styles  */
@media only screen and (min-width: 1025px) {
	body {
		background-image: url(./images/bg-pattern-desktop.svg);
	}
	.container {
		border: 1px solid black;
		flex-direction: row;
		padding-right: 5rem;
		background: url(./images/bg-intro-desktop.png), hsl(0, 100%, 74%);
	}
	header {
		max-width: 50%;
		justify-content: center;
		margin: 0 1rem 0 2rem;
		padding: 0 4% 0 8%;
		text-align: left;
	}

	h1 {
		font-size: 3rem;
		line-height: 1.2;
	}

	header p {
		font-size: 1rem;
	}

	.form-container {
		margin: 1rem 4rem 2.1rem 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	h2 {
		margin: 2rem 0 0.5rem 0;
	}
}
