/*global styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Josefin Sans", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5rem;
	background-image: url(./images/bg-pattern-desktop.svg);
}

/* container styles */
.container {
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 2rem 1rem;
	background: url(./images/bg-intro-mobile.png), hsl(0, 100%, 74%);
}

/* header styles */
header {
	flex-grow: 1;
	color: white;
	text-align: center;
	line-height: 1.5rem;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h1 {
	font-size: 1.6rem;
	font-weight: 700;
}

header p {
	font-weight: 600;
	margin-top: 1rem;
}

/* form container styles */
.form-container {
	flex-grow: 1;
	text-align: center;
}

.form-container h2 {
	color: white;
	background-color: hsl(248, 32%, 49%);
	padding: 1.3rem 2rem;
	border-radius: 10px;
	box-shadow: 0px 10px 5px 0px hsl(0, 49%, 55%);
}
.bold {
	font-weight: 600;
}
form {
	background-color: white;
	padding: 2rem;
	margin-top: 1rem;
	border-radius: 10px;
	box-shadow: 0px 10px 5px 0px hsl(0, 44%, 48%);
}

input {
	display: block;
	position: relative;
	width: 100%;
	padding: 0.9rem 0.5rem;
	border-radius: 10px;
	border-width: 0.2px;
	border-color: hsl(240, 7%, 92%);
    margin: 1rem 0;
}

.cta {
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	background-color: hsl(154, 59%, 51%);
	color: white;
	border-radius: 5px;
}

/* label {
	position: absolute;
} */

/* attribution styles */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* desktop styles  */
@media only screen and (min-width: 1025px) {
	.container {
		flex-direction: row;
	}
}
